# Auto detect text files and perform LF normalization
* text=auto eol=lf

/.github export-ignore

# Ignore built or third-party JS/CSS for language stats
/public/js/* linguist-vendored
/public/css/* linguist-vendored