body {
    font-family: Verdana, Arial, 'sans-serif';
    color: #214e7b;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

p {
    font-size: 13px;
    background: #f7f7f7;
    padding: 5px 10px;
    border-radius: 5px;
}

img {
    max-width: 100%;
    width: 150px;
}