body {
    font-family: Verdana, Arial, 'sans-serif';
    color: #214e7b
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-shadow: 2px 2px #e2e2e2;
    font-weight: 400;
    font-size: 38px;
}

p {
    font-size: 14px;
}

img {
    max-width: 100%;
    width: 150px;
}