body {
    font-family: sans-serif;
}

.container {
    border-radius: 2px;
    word-break: break-all;
    margin: 30px;
    line-height: 25px;
    max-width: 960px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    color: #fff;
}

.header {
    padding: 2em;
}

.header .title {
    color: rgba(255, 255, 255, 0.5);
    top: 18px;
    font-weight: 600;
}

.header .message {
    font-size: 16px;
}

.bg-primary {
    background-color: #2E79FF;
}

.bg-error {
    background-color: #D91E18;
}

.bg-warning {
    background-color: #F9690E;
}

.bg-notice {
    background-color: #674172;
}

.code-preview {
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
    background: white;
    color: #333;
    padding: 2em;
}

.text {
    white-space: pre-wrap;
}

.error-line {
    background: beige !important;
    padding: 5px;
    margin-left: -5px;
    color: #D91E18;
}

.line {
    width: 45px;
    padding: 2px 5px 2px 2px;
    margin-right: 10px;
    display: inline-block;
    text-align: right;
    color: #a2a2a2;
    background: rgba(217, 217, 217, 0.14);
}

.error-line .line {
    background-color: beige;
}

.trace-container {
    color: #646464;
    background-color: #f9f9f9;
    font-size: 14px;
}

.trace-container .title {
    font-weight: bold;
    padding: 0.5em 2em;
    background-color: #eee;
}

.trace-container .trace-list {
    padding: 2em;
}

.trace-list .trace-item {
    border-bottom: 0.5px solid #ddd;
    padding: 5px 2px;
}

.trace-list .trace-info {
    color: #111;
}

.trace-list .trace-path {
    color: #a2a2a2;
    font-size: 13px;
}

.trace-list .trace-count {
    font-size: 11px;
    color: #fff;
    background-color: #ccc;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 5px;
    padding: 0 1px 0 1px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.file-path {
    font-size: 14px;
    word-break: break-all;
    color: #f9f9f9;
    padding: 0.5em 2em;
    background-color: #646464;
}

.code-preview code {
    margin-top: -16px;
    display: block;
}